@import "tailwindcss";
@theme {
	--font-gilroy: "Gilroy", sans-serif;
	--sectionGap: clamp(0.75rem, 4%, 5rem);
	--text-hero: clamp(2rem, calc(8vw + 1rem), 14rem);
	--heroTexlLeading: clamp(1.5rem, calc(7vw + 1rem), 12rem);
	--color-iridium: #3d3d3d;
	--color-onyx: #111111;
	--color-eerieBlack: #1f1f1f;
	--color-shamrockGreen: #0da34e;
	--px: 1px;
	--animate-loading: loading 1.5s ease-in-out infinite alternate;
	--animate-marquee: marquee 5s linear infinite;
	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
	@keyframes loading {
		0% {
			transform: translateX(-70%);
		}
		100% {
			transform: translateX(170%);
		}
	}
}

h1 {
	@apply text-[clamp(2rem,calc(3vw+1rem),6rem)] leading-[clamp(2rem,calc(3vw+1rem),6rem)];
}
h2 {
	@apply text-[clamp(1.5rem,calc(2.5vw+1rem),5.25rem)] leading-[clamp(1.65rem,calc(2.5vw+1rem),5rem)];
}
h3 {
	@apply text-[clamp(1.25rem,calc(1.75vw+1rem),3.5rem)] leading-[clamp(1.5rem,calc(1.75vw+1rem),4rem)];
}
h4 {
	@apply text-[clamp(1rem,calc(1.25vw+1rem),2.75rem)] leading-[clamp(1.25rem,calc(1.75vw+0.5rem),3rem)];
}
h5 {
	@apply text-[clamp(1.1rem,calc(1vw+0.5rem),2rem)] leading-[clamp(1.1rem,calc(1vw+0.5rem),2rem)];
}
h6 {
	@apply text-[clamp(.95rem,calc(1vw+0.35rem),1.6rem)] leading-[clamp(1.1rem,calc(1vw+0.4rem),1.75rem)];
}
p {
	@apply text-[clamp(.9rem,calc(1vw+0.2rem),1.5rem)] leading-[clamp(1.1rem,calc(1vw+0.5rem),1.75rem)];
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
	overflow: clip;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
	pointer-events: none;
}
.lenis.lenis-autoToggle {
	transition-property: overflow;
	transition-duration: 1ms;
	transition-behavior: allow-discrete;
}

/* SplitText Animation */
.lineParent,
.charParent {
	@apply overflow-hidden max-w-max;
}

/* On Hove Animated Button */
#animated-btn #hover-text .charChild {
	@apply rotate-x-75 opacity-0 translate-y-full;
}

/* Header */
#menu-btn.change span:first-child {
	@apply translate-y-0.5 -rotate-45;
}
#menu-btn.change span:last-child {
	@apply -translate-y-[3px] rotate-45;
}
/* Main Menu */
#main-menu .menu-item a {
	@apply hidden uppercase text-center text-lg font-semibold py-1.5 border-b-1 border-b-iridium hover:text-[#808080] xl:block xl:text-start xl:text-base xl:font-medium xl:p-0 xl:border-none;
}
#main-menu .menu-item > .sub-menu {
	@apply xl:pt-5;
}
#main-menu .menu-item > .sub-menu .menu-item {
	@apply overflow-hidden;
}
#main-menu .menu-item > .sub-menu a {
	@apply block relative after:content-[''] after:absolute after:w-full after:h-px after:bg-white after:bottom-0 after:left-0 after:scale-x-0 after:origin-left after:transition-transform after:duration-600 after:ease-[cubic-bezier(0.85,0,0.15,1)] hover:after:scale-x-100 hover:after:origin-left xl:inline-block xl:text-sm xl:font-normal xl:py-1.5 xl:hover:text-white;
}
#main-menu .menu-item > .sub-menu .menu-item.current-menu-item a {
	@apply opacity-60;
}

/* Footer */
footer ul .menu-item a {
	@apply uppercase;
}

/* Pagination */
nav.pagination {
	@apply flex bg-iridium mx-auto p-1.5 items-center rounded-full;
}
nav.pagination .page-numbers-box {
	@apply bg-onyx mx-4 p-1 rounded-full;
}
nav.pagination a,
nav.pagination span {
	@apply inline-grid size-7 text-sm font-medium place-items-center rounded-full;
}
nav.pagination span.current {
	@apply text-onyx bg-shamrockGreen;
}
nav.pagination a.prev,
nav.pagination a.next {
	@apply size-9 bg-onyx;
}

/* Hero Home */
#hero-home #hero-title span {
	@apply inline-flex items-center whitespace-nowrap;
}
#hero-home #hero-title span svg {
	@apply inline-block size-[clamp(1.75rem,calc(5vw+1rem),9.5rem)] bg-shamrockGreen rounded-full;
}
#hero-home p .lineParent {
	@apply mx-auto;
}
#hero-home p span {
	@apply inline-block mt-0.5 px-2 py-1 border-1 border-iridium rounded-full;
}

/* Advertise */
#advertise,
#success-stories #success,
#design-process ol,
#client-reviews,
#service-advertise,
#detail-lists {
	counter-reset: customList;
}
#advertise .advertise-box .advertise-inner::before,
#success-stories #success div::before,
#client-reviews .client-review::before,
#service-advertise .advertise::before {
	content: "/0" counter(customList);
	counter-increment: customList;
}
#advertise .advertise-box:last-child .advertise-inner {
	@apply md:aspect-3/1 xl:aspect-2/1;
}
#advertise .advertise-box:nth-last-child(2) .advertise-inner {
	@apply xl:aspect-2/1;
}

/* Design Process */
#design-process ol li::before {
	content: counter(customList);
	counter-increment: customList;
}

/* Service Details */
#detail-lists p::before {
	content: "#" counter(customList);
	counter-increment: customList;
}

/* Awards */
#awards .award-circle {
	-webkit-mask: linear-gradient(#fff 0 0) content-box,
		linear-gradient(#fff 0 0);
	mask-composite: exclude;
	background: linear-gradient(to left, #3d3d3d, #3d3d3d, #fff 80%, #fff);
}
#awards .award-box:first-child .award-circle {
	background: linear-gradient(to left, #4f5bff, #4f5bff, #fff 80%, #fff);
}
#awards .award-box:nth-child(2) .award-circle {
	background: linear-gradient(to left, #0da34e, #0da34e, #fff 80%, #fff);
}

/* Featured News */
#featured-news .news-box:first-child div:has(div) {
	@apply border-t-0 before:hidden sm:gap-6;
}
#featured-news .news-box:first-child a:has(img) {
	@apply basis-full;
}
#featured-news .news-box:first-child h6 {
	@apply text-[clamp(1.5rem,calc(2.5vw+1rem),5.25rem)] leading-[clamp(1.65rem,calc(2.5vw+1rem),5rem)] font-semibold -mt-3;
}
#featured-news .news-box:first-child div:has(a) {
	@apply ms-auto justify-start sm:basis-1/4 sm:order-3;
}
#featured-news .news-box:first-child .news-author {
	@apply inline-flex items-center sm:basis-96;
}

/* News & Articles */
#news-articles nav.pagination {
	@apply bg-zinc-200;
}
#news-articles nav.pagination .page-numbers-box {
	@apply bg-white;
}
#news-articles nav.pagination a.prev,
#news-articles nav.pagination a.next {
	@apply bg-zinc-50;
}

/* News Details */
#news-details #news-content h2 {
	@apply mt-8;
}
#news-details #news-content p,
#news-details #news-content ul {
	@apply mt-6 lg:me-[30%];
}

/* Font Face */
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Heavy.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
