@import "tailwindcss";
@theme {
	--font-gilroy: "Gilroy", sans-serif;
	--sectionGap: clamp(0.75rem, 4%, 5rem);
	--color-Iridium: #3d3d3d;
	--color-Onyx: #111111;
	--color-shamrockGreen: #0da34e;
	--px: 1px;
	--animate-loading: loading 1.5s ease-in-out infinite alternate;
	--animate-marquee: marquee 5s linear infinite;
	@keyframes marquee {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
	@keyframes loading {
		0% {
			transform: translateX(-70%);
		}
		100% {
			transform: translateX(170%);
		}
	}
}

h1 {
	@apply text-[clamp(2rem,calc(3vw+1rem),6rem)] leading-[clamp(2rem,calc(3vw+1rem),6rem)];
}
h2 {
	@apply text-[clamp(1.5rem,calc(2.5vw+1rem),5.25rem)] leading-[clamp(1.65rem,calc(2.5vw+1rem),5rem)];
}
h3 {
	@apply text-[clamp(1.25rem,calc(1.75vw+1rem),3.5rem)] leading-[clamp(1.5rem,calc(1.75vw+1rem),4rem)];
}
h4 {
	@apply text-[clamp(1rem,calc(1.25vw+1rem),2.75rem)] leading-[clamp(1.25rem,calc(1.75vw+0.5rem),3rem)];
}
h5 {
	@apply text-[clamp(1.1rem,calc(1vw+0.5rem),2rem)] leading-[clamp(1.1rem,calc(1vw+0.5rem),2rem)];
}
h6 {
	@apply text-[clamp(.95rem,calc(1vw+0.35rem),1.6rem)] leading-[clamp(1.1rem,calc(1vw+0.4rem),1.75rem)];
}
p {
	@apply text-[clamp(.9rem,calc(1vw+0.2rem),1.5rem)] leading-[clamp(1.1rem,calc(1vw+0.5rem),1.75rem)];
}

/* Lenis */
html.lenis,
html.lenis body {
	height: auto;
}
.lenis:not(.lenis-autoToggle).lenis-stopped {
	overflow: clip;
}
.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}
.lenis.lenis-smooth iframe {
	pointer-events: none;
}
.lenis.lenis-autoToggle {
	transition-property: overflow;
	transition-duration: 1ms;
	transition-behavior: allow-discrete;
}

/* SplitText Animation */
.lineParent,
.charParent {
	@apply overflow-hidden max-w-max mx-auto;
}

/* On Hove Animated Button */
#animated-btn #hover-text .charChild {
	@apply rotate-x-75 opacity-0 translate-y-full;
}

/* Header */
#menu-btn.change span:first-child {
	@apply translate-y-0.5 -rotate-45;
}
#menu-btn.change span:last-child {
	@apply -translate-y-[3px] rotate-45;
}
/* Main Menu */
#main-menu .menu-item a {
	@apply hidden uppercase text-center text-lg font-semibold py-1.5 border-b-1 border-b-Iridium hover:text-[#808080] xl:block xl:text-start xl:text-base xl:font-medium xl:p-0 xl:border-none;
}
#main-menu .menu-item > .sub-menu {
	@apply xl:pt-5;
}
#main-menu .menu-item > .sub-menu .menu-item {
	@apply overflow-hidden;
}
#main-menu .menu-item > .sub-menu a {
	@apply block relative after:content-[''] after:absolute after:w-full after:h-px after:bg-white after:bottom-0 after:left-0 after:scale-x-0 after:origin-left after:transition-transform after:duration-600 after:ease-[cubic-bezier(0.85,0,0.15,1)] hover:after:scale-x-100 hover:after:origin-left  xl:inline-block xl:text-sm xl:font-normal xl:py-1.5 xl:hover:text-white;
}

/* Hero Home */
#hero-home #hero-title span {
	@apply inline-flex items-center whitespace-nowrap;
}
#hero-home #hero-title span svg {
	@apply inline-block size-[clamp(1.75rem,calc(5vw+1rem),9.5rem)] bg-shamrockGreen rounded-full;
}
#hero-home p span {
	@apply inline-block mt-0.5 px-2 py-1 border-1 border-Iridium rounded-full;
}

/* Advertise */
#advertise,
#success-stories #success,
#design-process ol,
#client-reviews {
	counter-reset: customList;
}
#advertise .advertise-box .advertise-inner::before,
#success-stories #success div::before,
#client-reviews .client-review::before {
	content: "/0" counter(customList);
	counter-increment: customList;
}
#advertise .advertise-box:last-child .advertise-inner {
	@apply md:aspect-3/1 xl:aspect-2/1;
}
#advertise .advertise-box:nth-last-child(2) .advertise-inner {
	@apply xl:aspect-2/1;
}

/* Design Process */
#design-process ol li::before {
	content: counter(customList);
	counter-increment: customList;
}

/* Font Face */
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../assets/fonts/Gilroy-Heavy.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
